@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}


@media (min-width: 1024px) {
  .cta-bg {
    background-image: url('../../public/images/bg.png');
  }
}

.masked-video {
  -webkit-mask-image: url('../../public/images/zero.png');
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;

  mask-image: url('../../public/images/zero.png');
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.slider .thumb {
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
  cursor: ew-resize;
  top: -8px;
  border-radius: 50%;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev{
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}



.swiper-thumbs .swiper-wrapper  {
  display: flex!important;
  justify-content: center;
}

@media (min-width: 1024px) {

  .swiper-thumbs .swiper-wrapper  {
    display: flex!important;
    justify-content: flex-start;
  }
  .swiper-thumbs {
    width: 64px !important;
    overflow: visible !important;
    display: block !important;
  }
  .swiper-thumbs .swiper-wrapper {
    display: flex;
    row-gap: 16px !important;
    flex-direction: column !important;
    width: 64px !important;
  }

  .swiper-thumbs .swiper-wrapper .swiper-slide {
    margin-right: 0 !important;
    width: 64px !important;
    height: 64px !important;
  }
  .swiper-thumbs .swiper-wrapper .swiper-slide-thumb-active {
    border: 1px solid #DB572E;
  }
  .swiper-thumbs .swiper-wrapper .swiper-slide-thumb-active img {
    width: 62px !important;
    height: 62px !important;
  }
  .swiper-thumbs .swiper-wrapper .swiper-slide img {
    width: 64px !important;
    height: 62px !important;
    cursor: pointer;
  }
}
.slider-btn {
  transform: translateY(-50%);
  top: 50%;
}